# # lets start fresh üòÅ
- #### points that I've focused inn this folder.
-  ip/op 
- variables ( and also know about there types)
- type casting
- loops
- lists 
- tuples
- dictionaries
- set
- loops (for, while)
- conditional statements (if, elif, else)
- numpy
- pandas

# 1. input / output

simple o/p for both variables an' string directly on print funtion

In [1]:
a=12
b=25.23
c="Hello World"
d=True
e=complex(3, 4)

- #### so what is a variable.
A variable in programming refers to a user-defined name stored in the memory that holds a value which or
its a name given to memory location which holds some value.

In [11]:
print("hi abhi")  # directly on print funtion 
print(a)
print(b)
print(c)
print(d)
print(e)

hi abhi
12
25.23
Hello World
True
(3+4j)

so here we are knoning teir datatype by using in-build function type()

In [3]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

 # üëÜüëâ  there's not <u> double </u> datatype in in python

In [12]:
# this for input
n=input("enter a number")
n

'12'

### type casting
in py ,what ever u input they are considered as string ,so type casting should done.
For type casting  just write the datatype to which you want to convert an' next to it within the paranthesis write the variables.
 - note u can never convert a letter into a number ie. to integer or float 
 - but we can convert a number from int or float to string

In [5]:
type(n)

str

In [6]:
n=int(n) # this is how we convert and initialize for in i/p or---->
ii=float(input("enter a number")) # here we convert it once the input is driven
print(type(n),type(ii),"\n")
print(n,"\t",ii)

<class 'int'> <class 'float'>

12 	 12.0

### let's plunge into some basic data structures in py

- lists are collection of data(they can be of any type)
- in python, list is created by placing the elements inside square brackets []
- they are ordered ,mutable.

###  ü™∂let's also go along with loops and few list functions 
- for loop
- while loop

In [7]:
lists=[1,2,3,4,5]
char=["a",'b','c','d','e']
print(type(lists),type(char))

<class 'list'> <class 'list'>

## ü™∂ list functions
- finding length
- counting the iteration of an item or instance
- datatype of each item in the list
- appending (adding new item)
- sorting a list(both ascending and descending)
- finding the index of the item
- copying a list to another
- incert element X in the place of Y 
- expanding a list of length n to length m so that we can add another list to it.
 #### so on and so forth

In [8]:
# on each list operation the list is modified and we have to be aware of it.
list2=[i for i in range(11,21)]
list3=[j for j in range(20) if j%2 == 0]
print( list3,"\n")
list2.append(12321) # appending in the sense adding a item to the list
print( list2,"\n")
list2.sort(reverse=True)
print( list2,"\n")
list2.sort()
print( list2,"\n")
list3.reverse()
print( list3,"\n")
p=list2.index(13)
print(list2.index(14))
print( p,"\n")
print(list2.count(15))
list_duplicate=list2.copy()
print(list_duplicate,"\n")
list2.insert(11,13)
print(list2,"\n")
list2.extend(list3)
print(list2,'\n')
list2.sort()
print(list2,'\n')

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12321]

[12321, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12321]

[18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

3
2

1
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12321]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12321, 13]

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12321, 13, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

[0, 2, 4, 6, 8, 10, 11, 12, 12, 13, 13, 14, 14, 15, 16, 16, 17, 18, 18, 19, 20, 12321]

In [9]:
# here let's retrieve an item at a time  from a list and print them using for and while both as well as knw their type
list1=[1,2,3,'a',"abhi"]
for i in list1:
    print(i,"\n",type(i),"\n")

1
 <class 'int'>

2
 <class 'int'>

3
 <class 'int'>

a
 <class 'str'>

abhi
 <class 'str'>